@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700&display=swap');

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f9fa;
  color: #222222;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Fira Sans', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__back-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 50px;
      right: 50px;
      padding: 10px;
      color: #ffffff;
      background-color: #d27a76;
      border-radius: 50%;
      cursor: pointer;
      transition-property: transform background-color;
      transition-duration: 200ms;

      &:hover {
        background-color: #d27b76c4;
        transform: scale(95%);
      }
    }
  }
}

.title, .subtitle {
  color: #50b1cc;
}

.icon-arrowBack {
  font-size: 24px;
}